.tableContainer {
  width: 100%;
}

.container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.searchForm {
  font-size: 14px;
  width: 100%;
}

.flex-end {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
